@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  background-color: #000;
  color: #fff;
  min-height: 50vh;
  display: grid;
  place-items: center;
  perspective: 3000px;
  perspective-origin: 50% calc(50% - 150px);
}

.scene {
  position: relative;
  transform-style: preserve-3d;
  z-index: 9999;
}

.banner {
  display: flex;
  transform-style: preserve-3d;
  animation: rotate 24s infinite linear;
}

@keyframes rotate {
  to {
    transform: rotateY(-360deg);
  }
}

.panel {
  position: absolute;
  transform: translate(-50%, 190%) rotateY(var(--angle)) translateZ(190px);
  width: 50px;
  height: 140px;
  overflow: hidden;
}

.panel::before {
  position: absolute;
  left: var(--left);
  content: "Chrismas Champagne Party";
  font-size: 96px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #000000ff;
  text-shadow: 0 0 4px #d6ddffff, 0 0 4px #d6ddffff, 0 0 4px #d6ddffff,
    0 0 4px #d6ddffff;

  width: max-content;
  color: rgb(0, 0, 0);
}

.panel:nth-child(1) {
  --left: 0px;
  --hue: 0deg;
  --angle: 0deg;
}
.panel:nth-child(2) {
  --left: -50px;
  --hue: 15deg;
  --angle: 15deg;
}
.panel:nth-child(3) {
  --left: -100px;
  --hue: 30deg;
  --angle: 30deg;
}
.panel:nth-child(4) {
  --left: -150px;
  --hue: 45deg;
  --angle: 45deg;
}
.panel:nth-child(5) {
  --left: -200px;
  --hue: 60deg;
  --angle: 60deg;
}
.panel:nth-child(6) {
  --left: -250px;
  --hue: 75deg;
  --angle: 75deg;
}
.panel:nth-child(7) {
  --left: -300px;
  --hue: 90deg;
  --angle: 90deg;
}
.panel:nth-child(8) {
  --left: -350px;
  --hue: 105deg;
  --angle: 105deg;
}
.panel:nth-child(9) {
  --left: -400px;
  --hue: 120deg;
  --angle: 120deg;
}
.panel:nth-child(10) {
  --left: -450px;
  --hue: 135deg;
  --angle: 135deg;
}
.panel:nth-child(11) {
  --left: -500px;
  --hue: 150deg;
  --angle: 150deg;
}
.panel:nth-child(12) {
  --left: -550px;
  --hue: 165deg;
  --angle: 165deg;
}
.panel:nth-child(13) {
  --left: -600px;
  --hue: 180deg;
  --angle: 180deg;
}
.panel:nth-child(14) {
  --left: -650px;
  --hue: 195deg;
  --angle: 195deg;
}
.panel:nth-child(15) {
  --left: -700px;
  --hue: 210deg;
  --angle: 210deg;
}
.panel:nth-child(16) {
  --left: -750px;
  --hue: 225deg;
  --angle: 225deg;
}
.panel:nth-child(17) {
  --left: -800px;
  --hue: 240deg;
  --angle: 240deg;
}
.panel:nth-child(18) {
  --left: -850px;
  --hue: 255deg;
  --angle: 255deg;
}
.panel:nth-child(19) {
  --left: -900px;
  --hue: 270deg;
  --angle: 270deg;
}
.panel:nth-child(20) {
  --left: -950px;
  --hue: 285deg;
  --angle: 285deg;
}
.panel:nth-child(21) {
  --left: -1000px;
  --hue: 300deg;
  --angle: 300deg;
}
.panel:nth-child(22) {
  --left: -1050px;
  --hue: 315deg;
  --angle: 315deg;
}
.panel:nth-child(23) {
  --left: -1100px;
  --hue: 330deg;
  --angle: 330deg;
}
.panel:nth-child(24) {
  --left: -1150px;
  --hue: 345deg;
  --angle: 345deg;
}
