body {
  background: #000;
}
.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}
.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.center-img {
  position: absolute;
  width: 350px;
  height: auto;
  display: block;
  transform: translate(130%, 20%);
}
.logo1 {
  width: 120px;
  position: absolute;
  top: 89%;
  left: 35%;
}
.logo2 {
  width: 122px;
  position: absolute;
  top: 89%;
  left: 45%;
}
.logo3 {
  width: 120px;
  position: absolute;
  top: 89%;
  left: 55%;
}
