html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #000;
}

.image-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #000;
}

.background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.center-img {
  position: absolute;
  width: 350px;
  height: auto;
  display: block;
  transform: translate(130%, 20%);
}

.logo1,
.logo2,
.logo3 {
  position: absolute;
  width: 120px;
  bottom: 3%;
}

.logo1 {
  left: 35%;
}
.logo2 {
  left: 45%;
  width: 122px;
}
.logo3 {
  left: 55%;
}
